.grid-news {
	position: relative;
	clear: both;
	list-style: none;

    &.col-xs-5{
        float: initial;
    }
    figure {
        position: relative;
        overflow: hidden;
        //margin: 10px 1%;
        height: 100%;
        background-color: $color-secondary;
        cursor: pointer;

        .fondo-image {
            position: relative;
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        figcaption {
            padding: 2em;
            color: #fff;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }     
        figcaption,figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }  
        figcaption > a {
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        } 
    }
}

figure.wrapper-news {
    background: $color-secondary;
    //height: 100%;

    .fondo-image {
        opacity: 0.95;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

    figcaption::before {
        position: absolute;
        top: -10%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    }

    .vm::before,
    .vm::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14%;
        height: 1px;
        background: #fff;
        content: '';
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        opacity: 0;
    }

    .vm::before {
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0) rotate(45deg);
    }

    .vm::after {
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0) rotate(-45deg);
    }

    .title-news {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        position: absolute;
        bottom: 25px;
        left: 15px;
        z-index: 1;
        .title-text {
            font-family: $font-internas;
            font-size: .6em;
            margin: 0;
        }

        .img-circle {
            width: 25px;
            margin-right: 7px;
        }
    }

    &:hover {
        .fondo-image {
            opacity: 0.25;
            -webkit-transform: scale3d(1.05,1.05,1);
            transform: scale3d(1.05,1.05,1);
        }

        figcaption::before {
            -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
            transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
            top: 10%;
        }

        .vm::before {
            opacity: 1;
            -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg);
            transform: translate3d(-50%,-50%,0) rotate(90deg);
        }

        .vm::after {
            opacity: 1;
            -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg);
            transform: translate3d(-50%,-50%,0) rotate(0deg);
        }
    }
}
.card-big{
    height: 33em;

    .carrousel-news{
        height: 100%;
        
        .slick-slide{
            >div{
                height: 100%;
            }
        }
        .item-carrousel-news{
            height: 100%;
            
        }
    }
}
.card-peqs {
    .news-card-peq {

        margin-bottom: 1.7em;

        .grid-news {
            height: 16.3em;
        }
    }
}

.novedades-into .novedades-item {margin-bottom: 2em;}
.novedades-into .novedades-item .grid-news {height: 16em;}