.wrapper-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-primary;
    width: 100%;
    padding: 1.5em 3em 1.2em;
    margin-bottom: 1.9em;

    .dropdown {
        display: inline-block;
        transition: all .5s ease;
        position: relative;
        color: $color-white;
        text-align: center;
        border: none;
        text-transform: uppercase;
        font-family: $font-bold-internas;
        outline: none;
        padding-right: 2.5em;
    }

    .dropdown .select {
        background: #fff;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        padding: 10px 10px 5px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-secondary;

        .icon-select {
            color: $color-secondary;
            font-size: 1.6em;
        }

        .title-select {
            font-size: .8em;
            text-transform: initial;
            font-family: "poppinsregular";
            color: #9b9b9b;
        }
    }

    .dropdown .select>.icon-triangle-down {
        font-size: 13px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
    }

    .dropdown.active .select>.icon-triangle-down {
        transform: rotate(-180deg)
    }

    .dropdown .dropdown-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 1px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9
    }

    .dropdown .dropdown-menu li {
        padding: 10px 0 5px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        color: $color-primary;
        font-size: .6em;
    }

    .dropdown .dropdown-menu {
        padding: 13px 0 0;
        list-style: none
    }

    .dropdown .dropdown-menu li:hover {
        background-color: #f2f2f2
    }

    .dropdown .dropdown-menu li:active {
        background-color: #e2e2e2
    }

    .dropdown-menu::-webkit-scrollbar {
        width: 10px;
    }

    .dropdown-menu::-webkit-scrollbar-track {
        background-color: #009fde88;
    }

    .dropdown-menu::-webkit-scrollbar-thumb {
        background-color: $color-secondary;
    }

}

/** Custom Select **/
.selectorCustom {
    position: relative;
    /*Don't really need this just for demo styling*/

    & i {
        position: absolute;
        top: 50%;
        left: 6%;
        font-size: 1.75em;
        color: #00a0de;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    /* IE11 hide native button (thanks Matt!) */
    & select::-ms-expand {display: none;}
    & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
    
        display: block;
        width: 100%;
        min-height: 45px;
        margin: 5px 0px;
        padding: 0px 3.5em;
        font-size: 16px;
        font-family: 'poppinsregular';
        line-height: 1.75;
        color: #9b9b9b;
        background-color: #ffffff;
        background-image: none;
        border-radius: 5px;
        -ms-word-break: normal;
        word-break: normal;
        cursor: pointer;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(-50%, -50%);

        border-top: solid 10px $color-secondary;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent;
        pointer-events: none;
    }
}