.navbarInterRight {
    float: left;
    width: calc(100% - 83%);
    padding-left: 2em;

    .titles-navInterR {
        color: $color-primary;
        font-family: $titlesBig-internas;
        position: relative;
        padding-left: 9px;

        &:before {
            position: absolute;
            color: $color-primary;
            content: "";
            left: -2%;
            bottom: 0;
            top: 0;
            margin: auto;
            width: 4px;
            height: 85%;
            background-color: currentColor;
        }
    }
    .navList-InterRight {

        .navItem-InterRight {
            width: 10.5em;
            height: 65px;
            border-radius: 3px;
            margin-bottom: 1em;
            transition: all 0.3s;
            padding-left: 10px;
        
            .navLink-InterRight {
                font-family: $font-internas;
                display: flex;
                align-items: center;
                color: $color-int2; 
                height: 100%;

                .navIcon-InterRight {
                    width: 33%;
                    float: left;
                    display: flex;

                    .icon-InterRight {
                        font-size: 2.1em;
                    }
                }

                .navTitle-InterRight {
                    font-size: .65em;
                    
                }
            }
            &:hover,
            &.active {
                background-color: $color-peru;
                box-shadow: 0 0 10px #504747;
            
                .navLink-InterRight {
                    color: $color-white;

                    .navTitle-InterRight {
                        font-size: .75em;
                        
                    }
                }

            }
        }
    }
    &.nav-for {

        .navList-InterRight {

            .navItem-InterRight {
                width: 12.5em;

                .navLink-InterRight {
                    .navIcon-InterRight {
                        width: 26%;
                    }
                }
            }
        }
    }
}

