/* Slider servicios - Owl Carousel 
.slider-servicios {
    .btn-arrow-right,
    .btn-arrow-left {
        position: absolute;
        top: 760px;
        margin: auto;
        bottom: 0;

        width: 32px;
        height: 32px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        color: $color-primary;
        
        background-color: transparent;
        border: 2.5px solid rgba(0, 57, 137, 0.4);
        border-radius: 50%;
        
    }

    .btn-arrow-left {right: 0px;}
    .btn-arrow-right {left: -190px;}

    .owl-nav {
        position: absolute;
        left: 50px;
        top: 150px;
        height: 100%;

        .owl-pages {
            position: absolute;
            bottom: 16%;
            left: 15px;

            font-family: $font-semiBold;
            color: $color-primary;
            border-bottom: 4px solid rgba(0,57,137,.4);
            padding: 0 .25em;

            &:before {
                content: "";
                width: 50%;
                height: 4px;
                background-color: $color-primary;
                position: absolute;
                bottom: -4px;
                left: 0;
            }

            .owl-pages-current{
                font-size: 2em;
            }

            .owl-pages-count {
                opacity: 0.5;
                font-size: 1.25em;
            }
        }

        .owl-prev,
        .owl-next{
            position: absolute;
            top: 173px;
            left: 154px;
        
        }
    }
}*/

/* Slider servicios - Slick Carousel */
.slider-servicios {
    .slick-arrow {
        position: absolute;
        top: 101%;
        
        width: 1.75rem;
        height: 1.75rem;
        
        padding: 0;
        
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 2.5px solid rgba(0, 57, 137, 0.4);
        border-radius: 50%;
        
        cursor: pointer;
        overflow: hidden;
        outline: none;
        //transform: translateY(-50%);
        transition: 0.25s;
        z-index: 1;

        & span {
            position: absolute;
            left: 50%;
            top: 50%;

            color: $color-primary;
            font-size: 1.25em;
            transform: translate(-50%, -50%);
        }
        
        &:hover,
        &:focus {border-color:  rgba(0, 57, 137, 1);}
        
        //&:active {transform: translateY(-50%) scale(0.9);}
    }
        
    .slick-prev {left: 0%;}
    .slick-next {left: 11%;}
}

.indicator {
    position: absolute;
    left: 4.5%;
    top: 100%;

    display: inline-block;
    padding: 0 .5em;
    border-bottom: 4px solid rgba(0, 57, 137, 0.4);

    &::before {
        content: "";
        width: 50%;
        height: 4px;
        background-color: #003989;
        position: absolute;
        bottom: -4px;
        left: 0;
    }

    & span {
        font-family: "poppinssemibold";
        color: #003989;
    }

    & .indicator-first {
        font-size: 2em;
    }
    & .indicator-total {
        opacity: 0.5;
        font-size: 1.2em;
    }
}

/* Servicios Into */
.servicios-into .titles-descrip {
    position: absolute;
    left: 0;
    top: 0;
}

.servicios-into .slider-servicios {margin-top: 2.5em;}

.reservarFixed {
    position: fixed;
    z-index: 99;
    width: 517px;
    top: 102px;
    right: 175px;
}